<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular ui</title>

	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	
</head>
<body>
<div class="container" ng-app="app" ng-controller="MainCtrl">
	<div class="row">
		<h2 class="center">{{titulo}}</h2>

<!--datetimepicker-->
 <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

		

	</div>

</div>
	<script src="./node_modules/angular/angular.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.js"></script>	
	<script src="./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="app.js"></script>

</body>

</html>